# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env
.venv/

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Large archive data and generated databases
data/
*.db
*.db-shm
*.db-wal
*.sqlite3

# Dependency folders
node_modules/

# Editor scratch files
tempCodeRunnerFile.*

docs.md
index/
*.index
*.bin
*.zip
parsed/
dist/
